# Sampling Notebook

Pada notebook ini akan dilakukan sampling terhadap data sebelum dilakukan labeling secara manual.

## 1. Import Libraries

Import library yang akan digunakan

In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

## 2. Load Dataset

Load data ke memmory menggunakan library pandas.

In [3]:
## Import data
data = pd.read_csv('../output/cleaned_data.csv')
data.pop('Index')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     8778 non-null   object
 1   Content  8778 non-null   object
dtypes: object(2)
memory usage: 137.3+ KB

## 2. Drop Duplicate

Menghapus data yang berduplikasi

In [4]:
data = data.drop_duplicates('Content')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8138 entries, 0 to 8777
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     8138 non-null   object
 1   Content  8138 non-null   object
dtypes: object(2)
memory usage: 190.7+ KB

## 3. Sampling

Dilakukan sampling menggunakan method `sample` dari library `pandas` sebanyak 700 data.

**Note** : Naikan banyak sample agar model yang dibuat lebih baik dan relevant terhadap banyak kasus

In [13]:
BANYAK_SAMPLE_DATA = 8000
sample = data.sample(n=BANYAK_SAMPLE_DATA, random_state=2020)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 5116 to 3475
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     8000 non-null   object
 1   Content  8000 non-null   object
dtypes: object(2)
memory usage: 187.5+ KB

## 4. Export Sample Dataset

Export sample dataset

In [14]:
sample.to_csv(f'../output/{datetime.today().strftime("%Y-%m-%d")}_Sample Review.csv')